<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ // Copyright Marco Massenzio (c) 2015.
  ~ // This code is licensed according to the terms of the Apache 2 License.
  ~ // See http://www.apache.org/licenses/LICENSE-2.0
  -->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.elementum" level="DEBUG"/>
</configuration>
